.about {
  margin-top: 170px;
  height: 70vh;
  overflow: hidden;

  .description {
    display: flex;
    justify-content: space-between;

    &::before {
      content: '';
      width: 700px !important;
      background: url(/images/Group.png) no-repeat center;
      background-size: cover;
      margin-right: 200px;
    }
  }

  .text {
    display: inline-block;
    position: relative;
    @extend %text;
    p {
      width: 500px;
      margin-right: 0;
    }
    button {
      width: 200px;
      height: 50px;
      @include button(true, #fee6e5, $virus);
    }

    &::after {
      content: '';
      width: 200px;
      height: 400px;
      background: url(/images/virus.png) no-repeat center;
      background-size: cover;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .about {
    .text {
      p {
        width: 80%;
      }

      &::after {
        max-width: 120px;
        width: 120px;
        background-size: contain;
        bottom: -180px;
      }
    }

    & .description::before {
      width: 500px !important;
      background-size: contain;
    }
  }
}

// @media only screen and (max-width: 1000px) {

// }
