.about {
  margin-top: 170px;
  overflow: hidden;

  .description {
    display: flex;
    justify-content: space-between;

    &::before {
      content: '';
      width: 700px !important;
      background: url(/images/Group.png) no-repeat center;
      background-size: cover;
      margin-right: 200px;
    }
  }

  .text {
    display: inline-block;
    position: relative;
    @extend %text;
    p {
      width: 500px;
      margin-right: 0;
    }
    button {
      width: 200px;
      height: 50px;
      @include button(true, #fee6e5, $virus);
    }

    &::after {
      content: '';
      width: 200px;
      height: 400px;
      background: url(/images/virus.png) no-repeat center;
      background-size: cover;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .about {
    .text {
      position: static;
      p {
        width: auto;
      }

      &::after {
        max-width: 120px;
        width: 120px;
        background-size: contain;
        bottom: -40px;
      }
    }

    & .description::before {
      width: 500px !important;
      background-size: contain;
    }
  }
}

@media only screen and (max-width: 1355px) {
  .description {
    justify-content: flex-start !important;

    .about &::before {
      margin-right: 50px;
    }
    & .text::before {
      right: 37px;
    }
  }
}

@media only screen and (max-width: 1160px) {
  .about {
    position: relative;
    .description {
      flex-direction: column-reverse;
      width: 80%;
      margin: auto;

      &::before {
        width: auto !important;
        height: 100%;
        min-height: 300px;
      }

      .text {
        button {
          @include responsiveBtn;
          color: #fff;
        }
        &::after {
          top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .description {
    .text::after {
      display: none;
    }
  }
}

@media only screen and (max-width: 550px) {
  .description {
    width: 100% !important;
  }
}

@media only screen and (max-width: 400px) {
  .about .description::before {
    min-height: 240px;
    margin: 0;
  }
}
