@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

.contact {
  min-height: 300px;
  height: 400px;
  padding-top: 40px;
  font-family: 'Domine', serif;
  display: flex;
  background: linear-gradient(
    rgba(255, 241, 241, 0.5) 0%,
    rgba(255, 241, 241, 0.1) 109%
  );

  &::after {
    content: '';
    min-width: 200px;
    background: url('/images/twoVirus01.png') no-repeat;
    background-size: contain;
  }

  .wrapper {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .msg {
      position: relative;
      text: {
        transform: capitalize;
        align: center;
      }
      font: {
        size: 22px;
        weight: bold;
      }
      animation: showSuccess 6s forwards ease-out;
    }
    .show {
      opacity: 1;
      transform: translateY(-5px);
    }

    h1 {
      text-transform: capitalize;
      text-align: center;
      color: $grass;
      font-weight: 500;
      line-height: 77px;
      font-size: 58px;
    }

    form {
      box-sizing: border-box;
      width: 100%;
      height: 90px;
      background-color: #fff;
      box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
      padding: 10px 25px;
      border-radius: 57px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 5;

      input {
        border: none;
        box-sizing: border-box;
        outline: none;

        &:first-child {
          width: 60%;
          min-width: 150px;
          font-size: 20px;
        }
        &:nth-child(2) {
          width: 200px;
          height: 100%;
          font: {
            size: 22px;
            weight: bold;
          }
          background-color: $virus;
          border-radius: 150px;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes showSuccess {
  0% {
    transform: translateY(-32px);
    opacity: 0;
  }
  20% {
    transform: translateY(5px);
    opacity: 1;
  }
  80% {
    transform: translateY(5px);
    opacity: 1;
  }
  100% {
    transform: translateY(-32px);
    opacity: 0;
  }
}
