footer {
  margin: 100px 10% 50px auto;
  background-color: #fff9f9;
  display: grid;
  grid-template-columns: 300px 2fr 300px;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 13px;

  .logo {
    grid-row: 1;
    grid-column: 1;
    @extend %logo;
  }
  ul {
    grid-row: 1;
    grid-column: 3/4;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    list-style-type: none;
    color: $grass;
  }

  .logo + ul {
    grid-column: 2/3;
    width: 600px;
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
  }

  p {
    grid-row: 2;
    grid-column: 2/3;
    font-size: 14px;
    display: inline-block;
    text-align: center;
  }
}

@media only screen and (max-width: 1600px) {
  footer {
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 32px;
    padding: 30px;

    ul {
      grid-row: 2;
      grid-column: 1/2;
    }
    .logo + ul {
      grid-row: 1;
      grid-column: 2/3;
    }

    ul:nth-child(3) {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 1100px) {
  footer {
    p {
      justify-self: end;
    }
    ul {
      grid-row: 1;
      grid-column: 2/3;
      justify-self: end;
      width: 30%;
    }
    .logo + ul {
      grid-row: 2;
      grid-column: 1/2;

      flex-wrap: wrap;
      width: auto;
    }
  }
}

@media only screen and (max-width: 900px) {
  .logo + ul {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 0;
  }
}

@media only screen and (max-width: 700px) {
  footer {
    ul:nth-child(3) {
      flex-wrap: wrap;
      li {
        padding: 5px 10px;
      }
    }
  }
}
