header {
  padding-top: 25px;
  background: linear-gradient(72deg, white 0%, #ffe8e8 100%);
  display: grid;
  grid-template-columns: 1fr 10%;

  .nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_list {
    display: none;
    grid-column: 1/3;
    overflow: hidden;
    transition: all 2s ease-in-out;
  }

  .logo {
    @extend %logo;
  }
  nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link {
      font-size: 18px;
      text-transform: capitalize;
      color: $grass;
      position: relative;
      transition: all 0.3s ease-in;

      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: tomato;
        border-radius: 50%;
        position: absolute;
        margin-top: 5px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.2s ease-in;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
        color: $virus;
      }
    }
    .contactBtn {
      text-transform: capitalize;
      width: 100px;
      //   @include button(false, $virus);
      @include button(
        #000,
        '/images/nature-sprite.png',
        2300%,
        100%,
        rgb(3, 87, 85),
        #fff
      );
    }
  }
}

@media only screen and (max-width: 1550px) {
  header nav {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {
  header {
    grid-column: 1/3;
    padding-top: 0;
    height: 150px;
    transition: all 2s ease-in-out;
    .nav {
      display: none !important;
    }
    .nav_list {
      background: aliceblue;
      direction: rtl;
      display: inline-block;

      nav {
        width: 100%;
        flex-direction: column;
        height: 80%;
        justify-content: space-around;
        transform: translateY(-330px);
        transition: all 2s ease-in-out;

        a {
          font-size: 25px;
          letter-spacing: 2px;

          &::after {
            display: inline-block;
            transform: none;
            left: -20px;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
