header {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 10%;

  .nav {
    // grid-column: 2;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: relative;
    img {
      width: 63px;
      height: 63px;
      max-width: 100px;
      max-height: 100px;
      object-fit: cover;
    }
    h3 {
      display: inline;
      font-size: 22px;
      color: $grass;
      text-transform: uppercase;
      padding: 5px;
      padding-left: 20px;
      white-space: nowrap;
      font-weight: bold;
      position: absolute;
      bottom: -7px;
    }
  }
  nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link {
      font-size: 18px;
      text-transform: capitalize;
      color: $grass;
      transition: all 0.3s ease-in;

      //   &::after {
      //     content: '.';
      //     display: block;
      //     // position: absolute;
      //     list-style-type: disc;
      //     opacity: 0;
      //     transition: all 0.3s ease-in;
      //   }

      //   &:hover {
      //     color: $virus;
      //     &::after {
      //       opacity: 1;
      //     }
      //   }
    }
    .contact {
      text-transform: capitalize;
      width: 100px;
      @include button(false, $virus);
    }
  }
}
