.landing {
  grid-column: 2;
  height: 90vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    72deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 232, 232, 1) 100%
  );
}

.home {
  margin-top: 50px;
  display: flex;
  position: relative;
  height: 70vh;

  .illustration {
    width: 877px;
    height: 712px;
    background: url('/images/Illustration01.png') no-repeat;
    background-size: contain;
    background-position: center right;
    position: absolute;
    right: 0;
  }
  .text {
    flex: 1;
    text-transform: capitalize;
    align-self: center;

    div {
      width: 30%;
      color: $grass;
      font-size: 32px;
      line-height: 122%;
      font-weight: bold;

      span {
        display: block;
        color: $virus;
      }
    }

    p {
      width: 641px;
      font-size: 22px;
      line-height: 190%;
    }

    button {
      border: none;
      @include button(true);
    }
  }
}
