.loader {
  height: 100%;

  h1 {
    height: 10%;
    margin-bottom: 0;
  }

  .dots {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: greenyellow;
      //   transition: all 1s ease-in-out;
      animation: load 1s alternate-reverse infinite;
      //   transform: translateX((random(150)) #{px});
      //   transform: translateX(#{random(150)}px);
    }
  }
}

@keyframes load {
  to {
    transform: translateX(#{random(250)}px);
  }
}
