// varriables
$grass: #035755;
$virus: #fb4c47;

@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  -webkit-mask-size: $x1 $y1;
  border: 1px solid $bor;
  color: $col;
}

%text {
  flex: 1;
  text-transform: capitalize;
  align-self: center;

  div {
    color: $grass;
    font-size: 32px;
    line-height: 122%;
    font-weight: bold;

    span {
      display: block;
      color: $virus;
    }
  }

  p {
    width: 40%;
    font-size: 22px;
    line-height: 190%;
  }
}

button,
a {
  outline: none;
}

.title {
  font-size: 24px;
  text-align: center;
  line-height: 100%;
  margin-bottom: 80px;
  h3 {
    color: $virus;
  }
  p {
    width: 60%;
    margin: 0 auto;
  }
}

@mixin responsiveBtn {
  width: 40%;
  height: 50px;
  min-width: 150px;
  padding: 0;
  display: block;
  margin: auto;
}

%logo {
  position: relative;
  img {
    width: 63px;
    height: 63px;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
  }
  h3 {
    display: inline;
    font-size: 22px;
    color: $grass;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 20px;
    white-space: nowrap;
    font-weight: bold;
    position: absolute;
    bottom: -7px;
  }
}

.button-container-1 {
  position: relative;
  width: 150px;
  height: 60px;
  margin-top: 6vh;
  overflow: hidden;
  border: 1px solid;
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
  font-size: 20px !important;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;

  button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;

    @include button(
      tomato,
      '/images/nature-sprite.png',
      2300%,
      100%,
      rgb(3, 87, 85),
      #fff
    );
    cursor: pointer;
    animation: ani2 0.8s steps(22) forwards;

    &:hover {
      animation: ani 0.8s steps(22) forwards;
    }
  }

  .mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-top: 17px;
    overflow: hidden;
    font-weight: bold;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
  }
}
