.orders {
  .content {
    display: flex;
    justify-content: space-around;
    height: 400px;
    text-transform: capitalize;
    margin-bottom: 60px;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    .pic {
      width: 40%;
      min-width: 350px;
      background: {
        repeat: no-repeat;
        size: contain;
        position: center;
      }
    }

    .wrapper {
      width: 40%;
      position: relative;

      div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      h1 {
        color: $grass;

        span {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          padding: 6px;
          color: $virus;
          background-color: #fee6e5;
          margin-right: 15px;
        }
      }
      p {
        line-height: 190%;
      }
    }
  }
}
