.orders {
  .content {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
    margin-bottom: 60px;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    &:first-child {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: -12%;
        bottom: 0;
        width: 123px;
        height: 250px;
        background: url('/images/greenVirus.png') no-repeat center;
        background-size: contain;
      }
    }

    &:last-child {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 87px;
        height: 250px;
        background: url('/images/twoVirus.png') no-repeat center;
        background-size: contain;
      }
    }

    .pic {
      min-width: 350px;
      height: 350px;
      background: {
        repeat: no-repeat !important;
        size: contain !important;
        position: center !important;
      }
    }

    .wrapper {
      width: 40%;

      h1 {
        color: $grass;

        span {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          padding: 6px;
          color: $virus;
          background-color: #fee6e5;
          margin-right: 15px;
        }
      }
      p {
        line-height: 190%;
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1460px) {
  .content {
    display: block !important;
    margin-right: 10%;

    &:last-child {
      h1 {
        margin-top: 70px;
      }
      &::after {
        right: -11% !important;
      }
    }

    .wrapper {
      margin: auto;
      width: 60% !important;
      height: 100%;
      h1 {
        text-align: center;
      }
    }

    .pic {
      min-height: 300px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .content {
    &:first-child::before {
      left: -12% !important;
      width: 85px !important;
    }
    &:last-child::after {
      top: 30% !important;
      width: 65px !important;
    }
    .wrapper {
      width: 80% !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .toDo .title {
    margin-right: 10%;
    h2 {
      margin: 20px 0;
      font-size: 1.8em;
      white-space: nowrap;
    }
    p {
      margin: 0;
      width: 100% !important;
    }
  }
  .content {
    .wrapper {
      width: 100% !important;
    }
    &:first-child::before {
      display: none;
    }
    &:last-child::after {
      display: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  .content {
    .pic {
      min-width: 200px !important;
    }
    .wrapper {
      width: 100% !important;

      div {
        h1 {
          white-space: nowrap;
          font-size: 26px;
        }
        p {
          text-align: initial;
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .toDo .title h2 {
    font-size: 1.2em;
  }
}
