// Essential styles
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: justify;
}

.main {
  display: grid;
  grid-template-columns: 10% 1fr;
}

@media only screen and (max-width: 550px) {
  .text {
    width: 90% !important;

    div {
      font-size: 24px !important;
      text-align: initial !important;
    }
    p {
      text-align: justify !important;
    }
    p,
    button {
      font-size: 18px !important;
    }
  }
}

@import 'varriables';

@import 'header';

@import 'home';

@import 'about';

@import 'footer';

@import 'contagion';

@import 'whatToDo';

@import 'worldMap';

@import 'contact';
