html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr;
      grid-template-columns: 10% 1fr;
}

.home .text, .about .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: capitalize;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .text div, .about .text div {
  color: #035755;
  font-size: 32px;
  line-height: 122%;
  font-weight: bold;
}

.home .text div span, .about .text div span {
  display: block;
  color: #fb4c47;
}

.home .text p, .about .text p {
  width: 40%;
  font-size: 22px;
  line-height: 190%;
}

.home .text button, .about .text button {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  background: #fb4c47;
  color: #fff;
}

.title {
  font-size: 24px;
  text-align: center;
  line-height: 100%;
  margin-bottom: 80px;
}

.title h3 {
  color: #fb4c47;
}

.title p {
  width: 60%;
  margin: 0 auto;
}

header .logo, footer .logo {
  position: relative;
}

header .logo img, footer .logo img {
  width: 63px;
  height: 63px;
  max-width: 100px;
  max-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .logo h3, footer .logo h3 {
  display: inline;
  font-size: 22px;
  color: #035755;
  text-transform: uppercase;
  padding: 5px;
  padding-left: 20px;
  white-space: nowrap;
  font-weight: bold;
  position: absolute;
  bottom: -7px;
}

header {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10%;
      grid-template-columns: 1fr 10%;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-link {
  font-size: 18px;
  text-transform: capitalize;
  color: #035755;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header nav .nav-link::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  margin-top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

header nav .nav-link:hover {
  color: #fb4c47;
}

header nav .nav-link:hover::after {
  opacity: 1;
}

header nav .contact {
  text-transform: capitalize;
  width: 100px;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #fb4c47;
  color: #fb4c47;
}

.landing {
  -ms-grid-column: 2;
  grid-column: 2;
  height: 90vh;
  background: white;
  background: linear-gradient(72deg, white 0%, #ffe8e8 100%);
}

.home {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 70vh;
}

.home .illustration {
  width: 877px;
  height: 712px;
  background: url("/images/Illustration01.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: absolute;
  right: 0;
}

.about {
  margin-top: 100px;
  height: 70vh;
  overflow: hidden;
}

.about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .description::before {
  content: '';
  width: 700px !important;
  height: 500px !important;
  background: url(/images/Group.png) no-repeat center;
  background-size: cover;
  margin-right: 200px;
}

.about .text {
  display: inline-block;
  position: relative;
}

.about .text p {
  width: 500px;
  margin-right: 0;
}

.about .text button {
  width: 200px;
  height: 50px;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  background: #fb4c47;
  color: #fee6e5;
}

.about .text::after {
  content: '';
  width: 200px;
  height: 400px;
  background: url(/images/virus.png) no-repeat center;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}

footer {
  margin: 100px 10% 50px auto;
  background-color: #fff9f9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 2fr 300px;
      grid-template-columns: 300px 2fr 300px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer ul {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
  list-style-type: none;
  color: #035755;
}

footer .logo + ul {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 600px;
  font-size: 22px;
  margin: 0 auto;
  padding: 0;
}

footer p {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

.container {
  margin: 100px 10%;
  margin-left: 0;
  text-transform: capitalize;
}

.container h2 {
  color: #035755;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.cards .card {
  width: 30%;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: 10;
}

.cards .card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 5px;
  background-color: #fa5652;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.cards .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.cards .card:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cards .card .content {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
}

.cards .card .content h2 {
  font-size: 28px;
}

.cards .card .content p {
  line-height: 150%;
}

.cards .card .content div {
  width: 100%;
  height: 70%;
  position: relative;
}

.cards .card .content div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 70%;
  height: auto;
}

.cards::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 250px;
  background: url("/images/virus02.png") no-repeat center;
  background-size: cover;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.orders .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
  text-transform: capitalize;
}

.orders .content::after {
  content: '';
  display: block;
  width: 300px;
  height: 100%;
  background-color: turquoise;
}

.orders .content > div {
  width: 40%;
}

.orders .content > div h1 {
  color: #035755;
}

.orders .content > div h1 span {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fb4c47;
  color: #fee6e5;
  margin-right: 15px;
}

.orders .content > div p {
  line-height: 190%;
}
/*# sourceMappingURL=index.css.map */