@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: justify;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr;
      grid-template-columns: 10% 1fr;
}

header,
.home,
.about,
.contact,
footer,
.container,
.toDo {
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (max-width: 550px) {
  .main {
    -ms-grid-columns: 5% 1fr;
        grid-template-columns: 5% 1fr;
  }
  header,
  .about,
  .contact,
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container,
  .toDo {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  footer {
    margin: 0 !important;
  }
  .text {
    width: 90% !important;
  }
  .text div {
    font-size: 24px !important;
    text-align: initial !important;
  }
  .text p {
    text-align: justify !important;
  }
  .text p,
  .text button {
    font-size: 18px !important;
  }
}

.home .text, .about .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: capitalize;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .text div, .about .text div {
  color: #035755;
  font-size: 32px;
  line-height: 122%;
  font-weight: bold;
}

.home .text div span, .about .text div span {
  display: block;
  color: #fb4c47;
}

.home .text p, .about .text p {
  width: 40%;
  font-size: 22px;
  line-height: 190%;
}

button,
a {
  outline: none;
}

.title {
  font-size: 24px;
  text-align: center;
  line-height: 100%;
  margin-bottom: 80px;
}

.title h3 {
  color: #fb4c47;
}

.title p {
  width: 60%;
  margin: 0 auto;
}

header .logo, footer .logo {
  position: relative;
}

header .logo img, footer .logo img {
  width: 63px;
  height: 63px;
  max-width: 100px;
  max-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .logo h3, footer .logo h3 {
  display: inline;
  font-size: 22px;
  color: #035755;
  text-transform: uppercase;
  padding: 5px;
  padding-left: 20px;
  white-space: nowrap;
  font-weight: bold;
  position: absolute;
  bottom: -7px;
}

.button-container-1 {
  position: relative;
  width: 150px;
  height: 60px;
  margin-top: 6vh;
  overflow: hidden;
  border: 1px solid;
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
  font-size: 20px !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}

.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  background: tomato;
  -webkit-mask: url("/images/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.8s steps(22) forwards;
          animation: ani2 0.8s steps(22) forwards;
}

.button-container-1 button:hover {
  -webkit-animation: ani 0.8s steps(22) forwards;
          animation: ani 0.8s steps(22) forwards;
}

.button-container-1 .mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
  }
}

header {
  padding-top: 25px;
  background: linear-gradient(72deg, white 0%, #ffe8e8 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10%;
      grid-template-columns: 1fr 10%;
}

header .nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav_list {
  display: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  overflow: hidden;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

header nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-link {
  font-size: 18px;
  text-transform: capitalize;
  color: #035755;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header nav .nav-link::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  margin-top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

header nav .nav-link:hover {
  color: #fb4c47;
}

header nav .nav-link:hover::after {
  opacity: 1;
}

header nav .contactBtn {
  text-transform: capitalize;
  width: 100px;
  background: #000;
  -webkit-mask: url("/images/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  border: #035755;
  color: #fff;
}

@media only screen and (max-width: 1550px) {
  header nav {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    padding-top: 0;
    height: 150px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
  header .nav {
    display: none !important;
  }
  header .nav_list {
    background: aliceblue;
    direction: rtl;
    display: inline-block;
  }
  header .nav_list nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateY(-330px);
            transform: translateY(-330px);
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
  header .nav_list nav a {
    font-size: 25px;
    letter-spacing: 2px;
  }
  header .nav_list nav a::after {
    display: inline-block;
    -webkit-transform: none;
            transform: none;
    left: -20px;
    margin-top: 8px;
  }
}

.home {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 70vh;
  background: linear-gradient(72deg, white 0%, #ffe8e8 100%);
}

.home .illustration {
  width: 878px;
  height: 712px;
  background: url("/images/Illustration01.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 1700px) {
  .home .text {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 35%;
  }
  .home .text p {
    width: 100%;
  }
}

@media only screen and (max-width: 1458px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .text {
    width: 60%;
    margin-bottom: 25px;
  }
  .home .text div,
  .home .text p {
    text-align: center;
  }
  .home .text button {
    width: 40%;
    min-width: 150px;
    padding: 0;
    display: block;
    margin: auto;
  }
  .home .illustration {
    position: static;
    min-height: 400px;
    margin-top: 20px;
    background-position: center, top;
    background-size: cover;
  }
}

@media only screen and (max-width: 1280px) {
  .home {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 1000px) {
  .home .illustration {
    width: 100%;
    height: auto;
    background-size: contain;
  }
  .home .text {
    width: 70%;
  }
}

.about {
  margin-top: 170px;
  overflow: hidden;
}

.about .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .description::before {
  content: '';
  width: 700px !important;
  background: url(/images/Group.png) no-repeat center;
  background-size: cover;
  margin-right: 200px;
}

.about .text {
  display: inline-block;
  position: relative;
}

.about .text p {
  width: 500px;
  margin-right: 0;
}

.about .text button {
  background: tomato;
  -webkit-mask: url("/images/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  border: #035755;
  color: #fff;
}

.about .text::after {
  content: '';
  width: 200px;
  height: 400px;
  background: url(/images/virus.png) no-repeat center;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 1700px) {
  .about .text {
    position: static;
  }
  .about .text p {
    width: auto;
  }
  .about .text::after {
    max-width: 120px;
    width: 120px;
    background-size: contain;
    bottom: -45%;
  }
  .about .description {
    width: 90%;
  }
  .about .description::before {
    width: 500px !important;
    background-size: contain;
  }
}

@media only screen and (max-width: 1355px) {
  .description {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .about .description::before {
    margin-right: 50px;
  }
  .description .text::before {
    right: 37px;
  }
}

@media only screen and (max-width: 1160px) {
  .about {
    position: relative;
  }
  .about .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 80%;
    margin: auto;
  }
  .about .description::before {
    width: auto !important;
    height: 100%;
    min-height: 300px;
  }
  .about .description .text button {
    width: 40%;
    min-width: 150px;
    padding: 0;
    display: block;
    margin: auto;
    color: #fff;
  }
  .about .description .text::after {
    top: 0;
  }
}

@media only screen and (max-width: 980px) {
  .description .text::after {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .description {
    width: 100% !important;
  }
}

@media only screen and (max-width: 400px) {
  .about .description::before {
    min-height: 240px;
    margin: 0;
  }
}

footer {
  margin: 100px 10% 50px 0;
  background-color: #fff9f9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 2fr 300px;
      grid-template-columns: 300px 2fr 300px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  border-radius: 13px;
}

footer .logo {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

footer ul {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
  list-style-type: none;
  color: #035755;
}

footer ul li {
  cursor: pointer;
}

footer .logo + ul {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  font-size: 22px;
  margin: 0 auto;
  padding: 0;
}

footer p {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

@media only screen and (max-width: 1600px) {
  footer {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    grid-row-gap: 32px;
    padding: 30px;
  }
  footer ul {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  footer .logo + ul {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  footer ul:nth-child(3) {
    padding: 0;
  }
}

@media only screen and (max-width: 1100px) {
  footer p {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  footer ul {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-column-align: end;
        justify-self: end;
    width: 30%;
  }
  footer .logo + ul {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
  }
}

@media only screen and (max-width: 900px) {
  .logo + ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

@media only screen and (max-width: 700px) {
  footer ul:nth-child(3) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer ul:nth-child(3) li {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 460px) {
  .logo img {
    width: 40px !important;
    height: 45px !important;
  }
  .logo h3 {
    font-size: 18px !important;
    padding: 3px !important;
    padding-left: 12px !important;
    bottom: -6px !important;
  }
  .logo + ul {
    display: none;
  }
  footer {
    text-align: center;
    display: block;
    margin-top: 50px;
  }
  footer .logo {
    text-align: initial;
  }
  footer ul {
    width: 100%;
  }
  footer p {
    text-align: center;
  }
}

.container {
  margin: 100px 10%;
  margin-left: 0;
  text-transform: capitalize;
}

.container h2 {
  color: #035755;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cards .card {
  width: 30%;
  height: 500px;
  padding: 20px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 35px 87px rgba(0, 0, 0, 0.11);
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: 10;
}

.cards .card:nth-child(2) {
  margin: auto 15px;
}

.cards .card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 5px;
  background-color: #fa5652;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.cards .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.cards .card:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cards .card .content {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
}

.cards .card .content h2 {
  font-size: 28px;
}

.cards .card .content p {
  line-height: 150%;
}

.cards .card .content div {
  width: 100%;
  height: 70%;
  position: relative;
}

.cards .card .content div img {
  max-width: 100% !important;
  height: auto !important;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 70%;
  height: auto;
}

.cards::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 250px;
  background: url("/images/virus02.png") no-repeat center;
  background-size: cover;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 1200px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards .card:nth-child(2) {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card {
    width: 50% !important;
    margin-left: 0 !important;
  }
  .cards .card:nth-child(2) {
    margin: 15px 0 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .title p {
    width: 90%;
  }
  .cards::before {
    display: none;
  }
  .cards .card {
    width: 85% !important;
    height: 350px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.11);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.11);
  }
  .cards .card .content p {
    text-align: initial !important;
  }
  .cards .card .content h2 {
    font-size: 22px;
    white-space: nowrap;
  }
}

.symptomps {
  width: 60%;
  max-width: 80%;
  margin: auto;
}

.symptomps img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .title h2 {
    margin-top: 0;
  }
  .title h3 {
    margin-bottom: 10px;
  }
  .title p {
    width: 80% !important;
    line-height: 120%;
  }
  .symptomps {
    width: auto !important;
  }
}

@media only screen and (max-width: 600px) {
  .container .title p {
    width: auto !important;
    line-height: 150%;
  }
  .symptomps {
    max-width: inherit;
  }
}

.orders .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.orders .content:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.orders .content:first-child {
  position: relative;
}

.orders .content:first-child::before {
  content: '';
  position: absolute;
  left: -12%;
  bottom: 0;
  width: 123px;
  height: 250px;
  background: url("/images/greenVirus.png") no-repeat center;
  background-size: contain;
}

.orders .content:last-child {
  position: relative;
}

.orders .content:last-child::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 87px;
  height: 250px;
  background: url("/images/twoVirus.png") no-repeat center;
  background-size: contain;
}

.orders .content .pic {
  min-width: 350px;
  height: 350px;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}

.orders .content .wrapper {
  width: 40%;
}

.orders .content .wrapper h1 {
  color: #035755;
}

.orders .content .wrapper h1 span {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 6px;
  color: #fb4c47;
  background-color: #fee6e5;
  margin-right: 15px;
}

.orders .content .wrapper p {
  line-height: 190%;
  font-size: 20px;
}

@media only screen and (max-width: 1460px) {
  .content {
    display: block !important;
    margin-right: 10%;
  }
  .content:last-child h1 {
    margin-top: 70px;
  }
  .content:last-child::after {
    right: -11% !important;
  }
  .content .wrapper {
    margin: auto;
    width: 60% !important;
    height: 100%;
  }
  .content .wrapper h1 {
    text-align: center;
  }
  .content .pic {
    min-height: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .content:first-child::before {
    left: -12% !important;
    width: 85px !important;
  }
  .content:last-child::after {
    top: 30% !important;
    width: 65px !important;
  }
  .content .wrapper {
    width: 80% !important;
  }
}

@media only screen and (max-width: 600px) {
  .toDo .title {
    margin-right: 10%;
  }
  .toDo .title h2 {
    margin: 20px 0;
    font-size: 1.8em;
    white-space: nowrap;
  }
  .toDo .title p {
    margin: 0;
    width: 100% !important;
  }
  .content .wrapper {
    width: 100% !important;
  }
  .content:first-child::before {
    display: none;
  }
  .content:last-child::after {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .content .pic {
    min-width: 200px !important;
  }
  .content .wrapper {
    width: 100% !important;
  }
  .content .wrapper div h1 {
    white-space: nowrap;
    font-size: 26px;
  }
  .content .wrapper div p {
    text-align: initial;
  }
}

@media only screen and (max-width: 400px) {
  .toDo .title h2 {
    font-size: 1.2em;
  }
}

.list {
  padding: 25px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-79.45%, #fffbfb), color-stop(105.35%, #fdfdfd));
  background: linear-gradient(360deg, #fffbfb -79.45%, #fdfdfd 105.35%);
  -webkit-box-shadow: -5px 0px 20px 16px rgba(0, 0, 0, 0.07);
          box-shadow: -5px 0px 20px 16px rgba(0, 0, 0, 0.07);
  width: 25%;
  color: #035755;
  text-transform: capitalize;
}

.list .head {
  height: 10%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .head h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
}

.list .head .box {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
  height: 35px;
  font-size: 26px;
  color: #848484;
  font-weight: bold;
  background: #e6e6e6;
  -webkit-box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.21);
          box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.21);
  border-radius: 7px;
}

.list .head .box span {
  cursor: pointer;
  display: inline-block;
  width: 48%;
  height: 100%;
  line-height: 35px;
  background: #f8dfdf;
  color: #035755;
  border-radius: inherit;
  text-align: center;
  -webkit-transition: background-color 0.32s linear;
  transition: background-color 0.32s linear;
  position: relative;
}

.list .head .box span:hover {
  background-color: tomato;
}

.list .countries {
  height: 91%;
}

.list .countries .loader {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.list .countries .loader h1 {
  height: 10%;
  margin-bottom: 0;
}

.list .countries .wrapper {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.list .countries .balls {
  max-width: 300px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list .countries .ball {
  width: 19%;
  height: 55%;
  border-radius: 50%;
  background-color: tomato;
  -webkit-animation: load 2s alternate infinite ease-in-out;
          animation: load 2s alternate infinite ease-in-out;
}

.list .countries .ball:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  background-color: #fd2;
}

.list .countries .ball:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #63e263;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100px) rotateX(40deg);
            transform: translateY(100px) rotateX(40deg);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes load {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100px) rotateX(40deg);
            transform: translateY(100px) rotateX(40deg);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.list .countries .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.list .countries .country .amount {
  width: 100px;
  white-space: nowrap;
}

.list .countries .country .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .countries .country .name span:first-child {
  display: inline-block;
  width: 50px;
  height: 35px;
  margin-right: 15px;
}

.list .countries .country .name .unknown {
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  background: #ff000040;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 0;
  font-size: 20px;
  color: black;
  line-height: 35px;
}

.list .countries .country .name .flag {
  height: 45px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.map div {
  border-radius: 50%;
  background-color: #a8cff1;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1700px) {
  .world {
    display: block !important;
    padding-bottom: 50px;
  }
  .world .list {
    padding: 35px;
    width: 50%;
    margin: auto;
    height: 500px;
  }
}

@media only screen and (max-width: 900px) {
  .world .map div {
    background-color: inherit;
  }
  .world .map div svg {
    width: 150%;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@media only screen and (max-width: 600px) {
  .world {
    width: 90%;
    margin: 0;
    padding-bottom: 0;
  }
  .world .map {
    display: none;
  }
  .world .list {
    width: 90% !important;
    padding: 20px !important;
    -webkit-box-shadow: -3px 0px 12px 5px rgba(0, 0, 0, 0.07);
            box-shadow: -3px 0px 12px 5px rgba(0, 0, 0, 0.07);
  }
  .world .list .head {
    display: block;
  }
  .world .list .head h2 {
    display: none;
  }
  .world .list .head .box {
    width: auto;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .world .list .head .box span {
    width: 40%;
  }
}

.contact {
  min-height: 300px;
  height: 400px;
  padding-top: 40px;
  font-family: 'Domine', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 241, 241, 0.5)), color-stop(109%, rgba(255, 241, 241, 0.1)));
  background: linear-gradient(rgba(255, 241, 241, 0.5) 0%, rgba(255, 241, 241, 0.1) 109%);
}

.contact::after {
  content: '';
  min-width: 200px;
  background: url("/images/twoVirus01.png") no-repeat;
  background-size: contain;
}

.contact .wrapper {
  width: 50%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .wrapper .msg {
  position: relative;
  text-transform: capitalize;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  -webkit-animation: showSuccess 6s forwards ease-out;
          animation: showSuccess 6s forwards ease-out;
}

.contact .wrapper .show {
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.contact .wrapper h1 {
  white-space: nowrap;
  text-transform: capitalize;
  text-align: center;
  color: #035755;
  font-weight: 500;
  line-height: 77px;
  font-size: 58px;
}

.contact .wrapper form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90px;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
  padding: 10px 25px;
  border-radius: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.contact .wrapper form input {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.contact .wrapper form input:first-child {
  width: 60%;
  min-width: 150px;
  font-size: 20px;
}

.contact .wrapper form input:nth-child(2) {
  width: 200px;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  background-color: #fb4c47;
  border-radius: 150px;
  cursor: pointer;
}

@-webkit-keyframes showSuccess {
  0% {
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
    opacity: 0;
  }
}

@keyframes showSuccess {
  0% {
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-32px);
            transform: translateY(-32px);
    opacity: 0;
  }
}

@media only screen and (max-width: 1340px) {
  form {
    height: 120px !important;
    display: block !important;
    padding: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    background-color: initial !important;
  }
  form input[type='email'] {
    background-color: #e0e0e0;
    border-radius: 20px;
    width: 100% !important;
    height: 50%;
    padding: 0 20px;
  }
  form input[type='submit'] {
    display: block;
    margin: 20px auto 0;
    width: 80% !important;
    padding: 0;
    height: 50% !important;
  }
}

@media only screen and (max-width: 1000px) {
  .contact h1 {
    font-size: 2.5em !important;
  }
  .contact::after {
    display: none;
  }
  .contact .wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {
  .contact .wrapper h1 {
    font-size: 1.5em !important;
  }
  .contact form input[type='email'] {
    font-size: 18px !important;
    padding: 15px;
  }
  .contact form input[type='submit'] {
    width: 160px !important;
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=index.css.map */